@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  justify-content: center;
  align-items: center;
}

.content-banner::after {
  content: '';
  width: 790px;
  height: 697px;
  position: absolute;
  background-image: url('./img/content-banner.png');
  background-repeat: no-repeat;
  left: 250px;
  top: 0;
  z-index: -1
}

.content-logo{
  margin-top: 220px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 70px;
  color: #515076;
}

.cards-list {
  width: 1110px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.cards-item {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;
}

.cards-item-notice {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  color: #A5A3B9;
  margin-top: 30px;
}

.cards-item-logo {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #515076;
  margin-top: 10px;
}

.cards-item-description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  margin-top: 5px;
}

.cards-item-structure {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  margin-top: 15px;
}

.cards-item-list {
  list-style: circle;
  margin-left: 12px;
}

.cards-item-price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.item-price-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #515076;
}

.item-price-number {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #515076;
}