@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.content__banner {
  background-image: url(./img/dandelions-bg.png);
  background-repeat: no-repeat;
}

.active {
  background-color: #0000ff;
  color: #ffffff;
}

.title {
  max-width: 846px;
  max-height: 78px;
  margin-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 70px;
  color: #515076;
}

.content__title {
  margin-top: 220px;
  margin-bottom: 110px;
  justify-self: center;
}

.products {
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.card {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;
}

.card__category {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
}

.card__name {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #515076;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  margin-top: 5px;
}

.card__structure {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  margin-top: 15px;
  margin-bottom: 25px;
}

.structure__list {
  list-style: circle;
  padding-left: 15px;
}

.card__price {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #515076;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}